language: python

sudo: false

python:
  - '2.6'
  - '2.7'
  - '3.4'

matrix:
  include:
    - python: 2.7
      env: JYTHON=org.python:jython-installer:2.7-rc1

before_install:
  - if [ -n "$JYTHON" ]; then ./ci/before_install_jython.sh; source $HOME/myvirtualenv/bin/activate ;fi

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install unittest2; fi
  - pip install -e .

script:
  - python test/testsuite.py
